.section{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(50deg,rgb(68, 68, 197),rgb(202, 38, 202));
    overflow: hidden;
}
.section_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem;
}
.section_img img{
  margin-top: 1rem;
  width: 520px;
  height: 600px;
  object-fit: cover;
}
.section_content{
    margin:0 auto;
    line-height:60px;
    text-align: center;
    
}
.section_content h1{
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
   margin-bottom: 2.12rem;
}
.section_content p{
    border-bottom: 2px solid green;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 15px green;
    margin-block: 7px;
}

.section_content p:hover{
   transform: scale(110%);
   transition:250ms;
   color: firebrick;
}
@media(max-width:1100px) {
    .section_container{
        flex-direction: column;
        margin:2.5rem;
    }
    .section_container h1{
        font-size: 25px;
        margin-bottom: 0rem;
    }
    .section_container p{
        font-size: 20px;
        margin-bottom: 25px;
        padding: 25px;;
    }
    .section_img img{
        width: 480px;
        height: 400px;
        padding:0px;
    }
}
@media (max-width:735px){
    .section_img img{
        width:300px;
        height:220px;
    }
    .section_container{
        margin:1rem;
    }
}